<table>
  <tr>
    <td><%= link_to "Panel", gui_panels_path, :class => "signup_button round" %></td>
    <td><%= link_to "Dialog", gui_dialogs_path, :class => "signup_button round" %></td>
    <td><%= link_to "Logic", gui_logics_path, :class => "signup_button round" %></td>
  </tr>
</table>
